In [102]:
import numpy as np
import pandas as pd
from sklearn.metrics.pairwise import euclidean_distances
from sklearn.preprocessing import StandardScaler

In [204]:
data = pd.read_csv("../data/combined.csv") 
data_values = data[["energia","proteina","grasa","carbohidratos"]]
nutritional_values = pd.read_csv("../data/nutritional_values.csv")

In [205]:
scaler = StandardScaler()
data[target_columns] = scaler.fit_transform(data[target_columns])
data

         Recipe1  Recipe2   energia     grasa  proteina  carbohidratos
0             51       53 -0.997959 -0.547509 -1.197785      -1.049113
1             51       61 -0.929716 -0.591076 -0.813689      -1.005118
2             51       68 -0.418435 -0.153878 -0.801022      -0.485682
3             51     6320 -0.790752 -0.519131 -0.803406      -0.675932
4             51     6388 -0.994129 -0.603036 -1.195107      -0.875756
...          ...      ...       ...       ...       ...            ...
4441685    74163    74194 -0.267205 -0.368240  0.248127       0.024928
4441686    74163    74200 -0.608645 -0.624944 -0.535061       0.105881
4441687    74164    74194 -0.490818 -0.350099  0.137907      -0.736884
4441688    74164    74200 -0.832258 -0.606803 -0.645281      -0.655931
4441689    74194    74200 -0.723540 -0.602545 -0.031590      -0.702125

[4441690 rows x 6 columns]

In [206]:
scaler.mean_

array([3344.38911195,  163.51167765,  204.32756094,  201.2060787 ])

In [220]:
df = pd.DataFrame([[1000, 100, 80, 15]],columns=target_columns)
df

   energia  grasa  proteina  carbohidratos
0     1000    100        80             15

In [221]:
df[target_columns] = scaler.transform(df[target_columns])
df

   energia     grasa  proteina  carbohidratos
0 -0.93911 -0.531425 -0.533359      -1.071159

In [222]:
result = scaler.transform([[1000, 100, 45, 15]])
result

array([[-0.9391101 , -0.53142549, -0.68350687, -1.07115918]])

In [219]:
target_values = np.array([1000, 100, 80, 15])
target_columns = ["energia","grasa",'proteina',"carbohidratos"]

In [228]:
def getClosest(target_values):
    objetivos = scaler.transform([target_values])
    eucl_dist = euclidean_distances(objetivos, data[target_columns].values).reshape(-1) #NP Con las distancias al objetivo
    ind_min_ed = (np.where(eucl_dist == np.amin(eucl_dist)))[0] #indice de la combinacion con menor distancia
    ind_comida = int(data.iloc[int(ind_min_ed)]['Recipe1']) #indices de las recetas 1 y 2 de la combinación
    ind_cena = int(data.iloc[int(ind_min_ed)]['Recipe2'])
    return ind_min_ed, ind_comida, ind_cena

def getClosest2(target_values):
    objetivos = scaler.transform([target_values])
    data['distance'] = euclidean_distances(objetivos, data_values.values).reshape(-1)
    ids = data.nsmallest(1, 'distance')[['Recipe1','Recipe2']]
    return ind_min_ed, ids

def getClosest3(target_values):
    data['distance'] = data.apply(lambda row: euclidean_distances(scaler.transform([target_values]), data_values.values).reshape(-1))
    ids = data.nsmallest(1, 'distance')[['Recipe1','Recipe2']]
    return ind_min_ed, ids

In [226]:
%%timeit
getClosest(target_values) # numpy

237 ms ± 13.9 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [227]:
%%timeit
getClosest2(target_values) # creando una columna pero usando numpy

559 ms ± 17.2 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [229]:
%%timeit
getClosest3(target_values) # con apply

1.63 s ± 63.3 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [231]:
objetivos = scaler.transform([target_values])
eucl_dist = euclidean_distances(objetivos, data[target_columns].values).reshape(-1) #NP Con las distancias al objetivo
ind_min_ed = (np.where(eucl_dist == np.amin(eucl_dist)))[0] #indice de la combinacion con menor distancia
ind_comida = int(data.iloc[int(ind_min_ed)]['Recipe1']) #indices de las recetas 1 y 2 de la combinación
ind_cena = int(data.iloc[int(ind_min_ed)]['Recipe2'])
ind_cena

50782

In [250]:
data[['Recipe1','Recipe2']].iloc[int(ind_min_ed)]

Recipe1     7550
Recipe2    50782
Name: 119074, dtype: int64

In [252]:
list(data[['Recipe1','Recipe2']].iloc[int(ind_min_ed)])

[7550, 50782]