In [1]:
import os
import sys
module_path = os.path.abspath(os.path.join('..'))
if module_path not in sys.path:
    sys.path.append(module_path)
    
from app.data_processing.utils import *

In [2]:
import pandas as pd

In [125]:
vg = pd.read_csv('../data/pesos_vegetales.csv', index_col = False)
ing = pd.read_csv('../data/ingredientes.csv')
recipes = pd.read_csv('../data/output.csv',sep='|')
bedca = pd.read_csv('../data/bedca.csv')

In [139]:
ing.sort_values(['Total_Grams'], ascending=False)[:30]

,Recipe_id,Ingrediente,Cantidad,Unidad,Indice,Grams,Total_Grams
39438,38438,cava,750.0,botella,780,1000.0,750000.0
7077,50611,almeja,600.0,kg,273,1000.0,600000.0
51915,10839,tomate,400.0,kg,667,1000.0,400000.0
19077,27014,atún,300.0,lata,282,330.0,99000.0
40978,15182,leche,250.0,lata,27,330.0,82500.0
4826,22122,champiñón,250.0,lata,614,330.0,82500.0
6914,52796,pechuga de pavo,100.0,pechuga,230,400.0,40000.0
35722,68912,huevo,35.0,litro,150,1000.0,35000.0
25523,32878,vino,174.0,taza,825,150.0,26100.0
30533,30949,canelones,40.0,láminas,852,410.0,16400.0
30167,33489,canelones,30.0,láminas,852,410.0,12300.0
46173,9066,agua,10.5,litros,766,1000.0,10500.0
29401,61070,canelones,20.0,láminas,852,410.0,8200.0
25891,26668,agua,5.0,litros,766,1000.0,5000.0
15844,36774,cerdo,5.0,kilogramos,175,1000.0,5000.0
29844,27557,canelones,12.0,láminas,852,410.0,4920.0
29535,59158,lasaña,12.0,láminas,884,410.0,4920.0
29575,57829,lasaña,12.0,láminas,884,410.0,4920.0
29218,72502,canelones,12.0,láminas,852,410.0,4920.0
37610,56565,gelatina,12.0,láminas,874,410.0,4920.0
21562,38515,queso,12.0,láminas,77,410.0,4920.0
29901,52825,lasaña,12.0,láminas,884,410.0,4920.0
30235,28832,lasaña,12.0,láminas,884,410.0,4920.0
14454,38613,leche,250.0,cucharadas soperas,27,17.0,4250.0
29867,52991,canelones,10.0,láminas,852,410.0,4100.0
1344,60167,jamón de york,10.0,láminas,935,410.0,4100.0
1345,60167,queso,10.0,láminas,77,410.0,4100.0
20075,22024,agua,4.0,litros,766,1000.0,4000.0
16108,60464,agua,4.0,litros,766,1000.0,4000.0
16388,12064,leche,4.0,litros,27,1000.0,4000.0

In [127]:
na_count = ing['Grams'].isna().groupby(ing['Recipe_id']).sum()
len(na_count[na_count == 0])

2104

In [128]:
ing[ing['Recipe_id']==55459]

       Recipe_id Ingrediente  Cantidad    Unidad  Indice  Grams  Total_Grams
16325      55459   chirimoya       2.0  unidades     682    0.0          0.0
16326      55459     naranja       2.0  unidades     709    0.0          0.0

In [21]:
recipes[recipes['Id']==55045]

,Id,Categoria,Nombre,Valoracion,Dificultad,Num_comensales,Tiempo,Tipo,Link_receta,Num_comentarios,Num_reviews,Fecha_modificacion,Ingredientes
19077,55045,Recetas de Salsas,Receta de mojo rojo canario,5.0,baja,1.0,15m,NaN,https://www.recetasgratis.net/receta-de-mojo-r...,1,5,2017-08-02,"1 cabeza de ajo,2 unidades de pimientas picona..."

In [138]:
weights = ing[(ing['Grams']==0)]
weights

       Recipe_id  Ingrediente  Cantidad    Unidad  Indice  Grams  Total_Grams
27         74043         soja       1.0     bolsa     580    0.0          0.0
56         73934  empanadilla       1.0   paquete     865    0.0          0.0
57         73934     espinaca       1.0   paquete     628    0.0          0.0
61         73934      cebolla       1.0    unidad     610    0.0          0.0
64         73919     pimiento       2.0  unidades     650    0.0          0.0
...          ...          ...       ...       ...     ...    ...          ...
52329       9110        huevo       1.0    unidad     150    0.0          0.0
52339       7865    berenjena       2.0  unidades     596    0.0          0.0
52341       7865        queso       3.0  unidades      77    0.0          0.0
52347       6618      plátano       6.0  unidades     721    0.0          0.0
52350       6618      cebolla       1.0    unidad     610    0.0          0.0

[4175 rows x 7 columns]

In [130]:
ing[(ing['Grams'].isna()) & (ing['Unidad']!='None')]

       Recipe_id Ingrediente  Cantidad    Unidad  Indice  Grams  Total_Grams
36         73727    pimienta       NaN  al gusto     901    NaN          NaN
38         73727         sal       NaN  al gusto     908    NaN          NaN
118        73799  col rizada       4.0     hojas     619    NaN          NaN
219        65997    mayonesa       NaN  al gusto     886    NaN          NaN
337        69109       pollo       NaN  al gusto     242    NaN          NaN
...          ...         ...       ...       ...     ...    ...          ...
51996       9202      laurel       1.0      hoja     885    NaN          NaN
52062       8184      laurel       2.0     hojas     885    NaN          NaN
52337       9114         sal       1.0  al gusto     908    NaN          NaN
52338       9114    albahaca       1.0      hoja     589    NaN          NaN
52366       6371      laurel       1.0      hoja     885    NaN          NaN

[924 rows x 7 columns]

In [131]:
weights = ing[(ing['Grams'].isna()) | (ing['Grams']==0)]
len(weights)
weights

       Recipe_id   Ingrediente  Cantidad    Unidad  Indice  Grams  Total_Grams
0          74154        harina      10.0      None     482    NaN          NaN
10         74146         huevo       2.0      None     150    NaN          NaN
27         74043          soja       1.0     bolsa     580    0.0          0.0
34         73727       cebolla       1.0      None     610    NaN          NaN
36         73727      pimienta       NaN  al gusto     901    NaN          NaN
...          ...           ...       ...       ...     ...    ...          ...
52375         56      pimienta       NaN      None     901    NaN          NaN
52378          5      aguacate       1.0      None     675    NaN          NaN
52379          5       plátano       1.0      None     721    NaN          NaN
52382          5         leche      75.0      None      27    NaN          NaN
52383          5  nuez moscada       NaN      None     891    NaN          NaN

[21090 rows x 7 columns]

In [134]:
def fill_grams(df):
    '''
    NaN weight values filler function.
        -The ingredients present in the weights dataset are substituted accordingly.
        -For the remaining ingredients: weight(ingredient) = mean(weight(ingredient))
    '''
    result = df.copy()
    result['Index'] = df.index
    original_columns = list(result.columns)

    result['Grams'] = result['Grams'].replace(0,np.nan)
    weights = result[(result['Grams'].isna())]
    
    weights = pd.merge(weights, vg, how='inner', on='Ingrediente')

    weights['Grams'] = weights['Peso x Unidad']
    weights['Unidad'] = 'unidad'
    weights['Total_Grams'] = weights['Grams'].multiply(weights['Cantidad'], axis = 'index')
    
    weights = weights[original_columns]
    weights.set_index(weights['Index'], inplace=True)
    
    result.loc[weights['Index'],:] = weights
    
    #añadir nº comensales
    result = pd.merge(result,recipes['Num_comensales'], how='left', left_on='Recipe_id', right_index=True)
    result['Num_comensales'] = result['Num_comensales'].fillna(1)
    result['Total_Grams'] = result['Total_Grams'].divide(result['Num_comensales']).round(5)
    
    result[['Grams','Total_Grams']] = result.groupby(['Ingrediente'])[['Grams','Total_Grams']].transform(lambda x: x.fillna(x.mean()).round(5))
    na_count = result['Grams'].isna().groupby(result['Recipe_id']).sum()
    
    missing = list(na_count[na_count != 0].index)
    result = result[~result['Recipe_id'].isin(missing)]
    
    return result.drop(['Index'], axis=1)

In [135]:
result = fill_grams(ing) #ing[ing['Recipe_id'].isin([46254,70787])])
len(result)

51942

In [140]:
result.sort_values(['Total_Grams'], ascending=False)[:30]

,Recipe_id,Ingrediente,Cantidad,Unidad,Indice,Grams,Total_Grams,Num_comensales
39438,38438,cava,750.0,botella,780,1000.0000,750000.0000,1.0
7077,50611,almeja,600.0,kg,273,1000.0000,600000.0000,1.0
30498,7124,patata,750.0,unidad,643,200.0000,150000.0000,1.0
38546,51884,mango,500.0,unidad,702,300.0000,150000.0000,1.0
40456,23812,manzana,700.0,unidad,703,160.0000,112000.0000,1.0
21490,43076,patata,500.0,unidad,643,200.0000,100000.0000,1.0
50395,34297,patata,500.0,unidad,643,200.0000,100000.0000,1.0
49537,50587,patata,500.0,unidad,643,200.0000,100000.0000,1.0
51915,10839,tomate,400.0,kg,667,1000.0000,100000.0000,4.0
19077,27014,atún,300.0,lata,282,330.0000,99000.0000,1.0
4826,22122,champiñón,250.0,lata,614,330.0000,82500.0000,1.0
40978,15182,leche,250.0,lata,27,330.0000,82500.0000,1.0
7734,7167,tomate,500.0,unidad,667,150.0000,75000.0000,1.0
39312,42452,sandía,300.0,unidad,723,250.0000,75000.0000,1.0
14007,51932,tomate,400.0,unidad,667,150.0000,60000.0000,1.0
16590,46896,sandía,200.0,unidad,723,250.0000,50000.0000,1.0
6914,52796,pechuga de pavo,100.0,pechuga,230,400.0000,40000.0000,1.0
29888,52955,tomate,250.0,unidad,667,150.0000,37500.0000,1.0
35722,68912,huevo,35.0,litro,150,1000.0000,35000.0000,1.0
5124,16477,cava,2.0,None,780,337.0003,32896.2487,4.0
39958,27929,cava,2.0,None,780,337.0003,32896.2487,1.0
16680,41216,cava,NaN,None,780,337.0003,32896.2487,1.0
40256,24642,albaricoque,500.0,unidad,677,60.0000,30000.0000,1.0
15110,20974,repollo,750.0,unidad,661,150.0000,28125.0000,4.0
40455,23812,ciruela,450.0,unidad,683,60.0000,27000.0000,1.0
25523,32878,vino,174.0,taza,825,150.0000,26100.0000,1.0
19236,23052,zanahoria,225.0,unidad,672,100.0000,22500.0000,1.0
4239,34100,pimiento rojo,150.0,unidad,651,150.0000,22500.0000,1.0
18657,51524,naranja,100.0,unidad,709,200.0000,20000.0000,1.0
30039,39214,tomate,125.0,unidad,667,150.0000,18750.0000,1.0

In [141]:
result[result['Recipe_id']==23052]

,Recipe_id,Ingrediente,Cantidad,Unidad,Indice,Grams,Total_Grams,Num_comensales
19235,23052,col blanca,225.0,None,616,1.00000,250.00000,1.0
19236,23052,zanahoria,225.0,unidad,672,100.00000,22500.00000,1.0
19237,23052,cebolla,150.0,unidad,610,100.00000,15000.00000,1.0
19238,23052,pimienta negra,1.0,None,902,1.75189,1.70029,1.0
19239,23052,mayonesa,360.0,None,886,46.42541,69.26491,1.0
19240,23052,vinagre,35.0,None,934,46.06781,34.92471,1.0

In [142]:
ing[ing['Recipe_id']==23052]

       Recipe_id     Ingrediente  Cantidad Unidad  Indice  Grams  Total_Grams
19235      23052      col blanca     225.0   None     616    NaN          NaN
19236      23052       zanahoria     225.0   None     672    NaN          NaN
19237      23052         cebolla     150.0   None     610    NaN          NaN
19238      23052  pimienta negra       1.0   None     902    NaN          NaN
19239      23052        mayonesa     360.0   None     886    NaN          NaN
19240      23052         vinagre      35.0   None     934    NaN          NaN

In [95]:
na_count = result['Total_Grams'].isna().groupby(result['Recipe_id']).sum()
na_count[na_count != 0].index

Int64Index([], dtype='int64', name='Recipe_id')